<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID Parser</title>
    <script type="module" src="/static/parse_text.js"></script>
</head>

<body>
    <form action="/" method="POST">
        <h1>ID Parser</h1>
        <textarea name="licenseData" id="licenseData" wrap="hard" cols="50" rows="20"></textarea>
        <button type="submit">Parse License Data</button>
    </form>
    <ul>
        <% for(const key in parsedData) { %>
        <li><%= key %> : <%= parsedData[key] %></li>
        <% } %>
    </ul>

</body>

</html>